* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#hero {
  top: 80px;
  height: 60vh;
}

.about, #examenes, #derechos {
  background-image: url(../img/bg.png);
}

.about li, .about .content ul i {
  font-size: 0.8rem;
  padding-bottom: 8px;
}

.about .testimonial-item p {
  padding: 20px;
}

.faq .faq-list .collapse li {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.examenes .icon i{
  color: #8DC63F;
}

.examenes .title::after {
  background-color: #8DC63F;
}

.verde {
  background: #8dc63f url(../img/bg-sub-head.png) no-repeat center top
}

.about li, .about .content ul i {
  font-size: 1rem;
}
#bilbao2 {
  width: 80%;
  margin-left: 10%;
}
#nos-motiva {
  margin-top: 5rem;
}